body{
    margin:0px;
}


.nav-class{
    position: relative;
    top:0px;
    max-height: 100px;
    height: 90%;
    margin:auto;
    width:100%;
    text-align: center;
    background-color:#458745;
    color:black;
    border:none;
}


@media (max-width: 768px) {

    .nav-class {
        font-size: 14px;
        padding: 10px;
    }

    .main-div1 {
        flex: 1 1 100%;
        max-width: 100%;
    }


    .footer-class h2 {
        font-size: 14px;
    }
}

.main-div {
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center;
}

.main-div1 {
    flex: 1 1 140px;
    max-width: 160px;
    text-align: center;
}

.main-div1 img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    transition: 0.5s ease;
}
 .main-div1 img:hover {
    transform: scale(1.03);
} 



.foter-div{
    height:250px;
    width:100%;
    border:none;
    position: relative;
    top:30px;
    display: flex;
    text-align: center;
    justify-content: center;

}

.footer-class h2{
    color:darkcyan;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

} 